.accordion-container {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 1.2rem;
}

.inner-accordion-container {
    display: flex;
    justify-content: space-between;
}

.p-container {
    padding-top: 0.5rem;
}
